:root {
    --background: #A3A9AA;
    --cor1: #0B132B;
    --cor2: #1D3270;
    --cor3: #3E6BF0;
    --corSombra: #0B132B;
    --corFonte: #ffff;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url(fonts/KaiseiTokumin-Regular.ttf);
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: var(--background);
    font-family: 'Kaisei Tokumin', serif;
    font-size: 15px;
    font-weight: 300;
}

.cabecalhoSite{
    margin-top: 0px;
    background-color: var(--cor1);

}

/* ! Icone e animação do texto* */
    .logoLoja{
        width: 120%;
    }

    .textoTopo {
        font-family: 'Source Code Pro', monospace;
        color: white;
        font-size: 1.875rem;
        overflow: hidden;
        text-align: left;
        vertical-align: middle;
        padding-top: 15px;
    }

    .digitacao-animation {
        animation: digitacao 1s steps(14) 1s normal;
    }

    @keyframes digitacao {
        from {
            width: 0;
        }
        to {
            width: 8em;
        }
    }
/* ! Fim icone e animação do texto* */

/* ************************************************************************ */

/* !Barra de pesquisa e icones de carrinho e user */
    .pesquisaCabecalho #caixaPesquisa{
        border-width: 2px;
    }

    .row *{
        padding-right: 0px;
    }

    .pesquisaInput{
        border: none;
        width: 100%;
        padding: 5px;
        background-color: var(--corFonte);
        padding-left: 5px;
        vertical-align: middle;
        border-radius: 8px 0px 0px 8px;
    }

    .pesquisaIcon{
        width: 4%;
        padding-top: 5px;
        background-color: var(--cor3);
        text-align: center;
        border-radius: 0px 8px 8px 0px;
    }

    .pesquisaIcon .botao{
        border: none;
        background: none;
    }

    .fi-rr-search{
        padding-top: 3px;
        padding-right: 15px;
        text-decoration: none;
        color: black;
        float: right;
        background: none;
    }

    .iconeCartUser{
        float: right;
        margin-right: 5%;
        margin-top: -3%;
    }

    .iconeCartUser button{
        background: none;
        border: none;        
    }

    .iconeCartUser #iconeBarraPesquisa{
        color: var(--corFonte);
        margin-right: 15px;
        text-decoration: none;
        font-size: 150%;
    }
/* !Fim barra de pesquisa e icones de carrinho e user */

/* ******************************************************************* */

/*! Menu dropdown*/
    .header {
        position: relative;
        width: 100%;
        align-tracks: right;
    }

    .menuDropdown {
        position: relative;
    }

    .fi-rr-menu-burger {
        margin: 5px;
    }

    .menu ul {
        list-style-type: none;
        padding: 15px;
        margin: 0;
        text-align: left;
        text-shadow: 2px 2px 2px var(--corSombra);
    }

    .menu ul li {
        display: inline;
        position: relative;
    }

    .menu ul li a {
        color: white;
        text-decoration: none;
        padding: 5px;
        transition: background .500s;
        vertical-align: middle;
    }

    .menu ul li a:hover {
        color: var(--cor3);
        text-decoration: none;
    }

    .menu ul ul {
        width: 160px;
        display: none;
        left: 0;
        position: absolute;
    }

    .menu ul li:hover ul {
        color: var(--cor3);
        display: block;
        margin: 0px;
    }

    .menu ul ul li {
        background-color: var(--cor1);
        display: flex;
    }

    .menu ul ul li a {
        display: block;
        background-color: var(--cor1);
        text-align: left;
        margin-bottom: 5px;
    }

    .menu ul ul ul li {
        width: 150px;
        display: none;
        left: 0px;
    }

    .menu ul ul li:hover ul li {
        color: var(--cor3);
        display: block;
        margin-left: 88%;
        padding: 2px;
    }
/*! Fim menu dropdown*/

/* ******************************************************************* */

/* !Fale conosco */

.faleConosco {
    width: 70%;
    background-color: var(--cor2);
    text-align: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 1.25rem;
    box-shadow: .1875rem .1875rem .1875rem var(--cor1);
    border-radius: .3125rem;
}

.faleConosco h2 {
    margin-bottom: .8125rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px var(--corSombra);
}

#caixaTexto {
    margin: .625rem;
    border: none;
    border-radius: .3125rem;
    height: 1.875rem;
    padding-left: .4375rem;
    box-shadow: 3px 3px 3px var(--corSombra);
}

#botaoEnviar {
    border: none;
    height: 1.875rem;
    width: 3.125rem;
    border-radius: .3125rem;
    box-shadow: 3px 3px 3px var(--corSombra);
}

#botaoEnviar:hover {
    background-color: rgb(196, 196, 196);
}

.inputEmail {
    width: 18.75rem;
}

.inputNome {
    width: 15.625rem;
}


/* !Cabecalho carrossel */

    .cabecalhoCarrossel {
        margin-top: 5%;
        text-align: center;
        text-shadow: 1px 1px 1px var(--corSombra);
    }

    .cabecalhoCarrossel hr {
        width: 563px;
        height: 2px;
        color: none;
        background-color: var(--cor1);
        box-shadow: 2px 2px 2px var(--corSombra);
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-inner {
        width: 50%;
    }


/* !Carrossel inicio */


/*
Fonte do carrossel:
https://www.codigofonte.com.br/dicas/como-criar-um-slideshow-sem-usar-uma-linha-de-javascript
Foi utilizado o código e modificado conforme a necessidade. 
*/

.carrossel-mascara {
    width: 563px;
    /* tem a mesma largura das imagens*/
    margin: 0 auto;
    overflow: hidden;
    font-size: 0;
    /* para remover o espaço entre elementos-filho marcados como inline-block*/
    margin-top: 1%;
}

.carrossel-container {
    width: 2815px;
    /* a soma da largura de todos os elementos */
    transition: 1s ease;
    height: 432px;
    /* tem a mesma altura das imagens */
}


/*Especifique também o tamanho de cada elemento interno, para que não haja margem para erros de renderização:*/

.carrossel-container img {
    width: 563px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 5px;
}

.slide {
    animation: slide 15s ease infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    12.5% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-20%);
    }
    37.5% {
        transform: translateX(-20%);
    }
    50% {
        transform: translateX(-40%);
    }
    62.5% {
        transform: translateX(-40%);
    }
    75% {
        transform: translateX(-60%);
    }
    87.5% {
        transform: translateX(-60%);
    }
    99% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(0);
    }
}


/* !Fim Fale conosco */